.header {
  background-color: #deae00;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

.nav {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}